<!--
  Author:    Jonathan Beutler
  Partner:   None
  Date:      September 4, 2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jonathan Beutler - This work may not be copied for use in Academic Coursework.

  I, Jonathan Beutler, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This is a web page for the course overview.  A professor uses this webpage to view existing Learning Objectives,
     add new Evaluation Metrics, and attach examples of Student Work to demonstrate completeness.
-->

@{
    ViewData["Title"] = "Course";
}


<!DOCTYPE html>
<html>
<head>
    <title>Course Overview</title>
    <meta name="author" content="Jonathan Beutler" />
    <meta name="description" content="TODO" />
    <meta name="charset" content="UTF-8" />
    <meta name="keywords" content="None" />
    <link rel="stylesheet" type="text/css" href="~/css/Learning_Outcomes.css" />
</head>
<body>
    <h2 class="main-title">CS 4540 Learning Objectives</h2>

    <!--Learning Objective 1-->
    <div>
        <!--Evaluation Metric 1, Learning Objective 1-->
        <h3 class="objective-title">Objective 1: Provide Students a Basic Knowledge of HTML/CSS</h3>
        <div class="learingOutcomeCard">
            <h2>Evaluation Metric 1: Demonstration of HTML and CSS</h2>
            <p>Description:  Students demonstrate their skills by constructing two unique HTML pages.  Excellent pages should include concepts shown in lecture as well as some self-taught material.</p>
            <h3>Assignment Definition</h3>
            <!--Table of Assignment Definition(s)-->
            <table class="table table-bordered table-hover file-upload-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Uploaded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--Completed row.-->
                        <td><a href="assignment_definition.txt">PS1.pdf</a></td>
                        <td>August 21, 2019 18:52:01</td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Has option for uploading something.-->
                        <td></td>
                        <td></td>
                        <td><button>Add</button></td>
                    </tr>
                </tbody>
            </table>

            <h3>Examples of Student Work <small>(5 Required)</small></h3>
            <nobr>Progress: </nobr>
            <div class="progress examples-progress-bar">
                <div class="progress-bar" style="width:60%;"></div>
            </div>
            <!--Table of student work examples-->
            <table class="table table-bordered table-hover file-upload-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Uploaded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--Completed row-->
                        <td><a href="assignment_definition.txt">u1010101_PS1.pdf</a></td>
                        <td>August 30, 2019. 15:42:08</td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <!--Completed row-->
                        <td><a href="assignment_definition.txt">u1010102_PS1.pdf</a></td>
                        <td>August 30, 2019. 15:45:13</td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <!--Completed row-->
                        <td><a href="assignment_definition.txt">u1010103_PS1.pdf</a></td>
                        <td>August 30, 2019. 15:46:30</td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                </tbody>
            </table>
            <button>Edit</button>
            <button>Delete</button>

        </div>


        <!--Evaluation Metric 2, Learning Objective 1-->
        <div class="learingOutcomeCard">
            <h2>Evaluation Metric 2: Demonstration of CSS Theory</h2>
            <p>Description:  Students are quizzed on abstract CSS concepts such as syntax, selectors, and cascading rules.</p>
            <h3>Assignment Definition</h3>
            <!--Table of Assignment Definition(s)-->
            <table class="table table-bordered table-hover file-upload-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Uploaded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--Completed row.-->
                        <td><a href="assignment_definition.txt">Quiz1.pdf</a></td>
                        <td>September 12, 2019 09:26:07</td>
                        <td><button>Delete</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Has option for uploading something.-->
                        <td></td>
                        <td></td>
                        <td><button>Add</button></td>
                    </tr>
                </tbody>
            </table>

            <h3>Examples of Student Work <small>(5 Required)</small></h3>
            <nobr>Progress: </nobr>
            <div class="progress examples-progress-bar">                
                <div class="progress-bar" style="width:0%;"></div>
            </div>
            <!--Table of student work examples-->
            <table class="table table-bordered table-hover file-upload-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Uploaded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                    <tr>
                        <!--Incomplete row.  Gives option to upload something.-->
                        <td></td>
                        <td></td>
                        <td><button>Upload</button></td>
                    </tr>
                </tbody>
            </table>
            <button>Edit</button>
            <button>Delete</button>
        </div>

        <button>Add Metric</button>     
    </div>

    <div>
        <h3 class="objective-title">Objective 2: Students Can Develop Simple NetCore We Applications</h3>
        <!--Incomplete Learning Objective.  User has options to add evaluation metrics.-->
        <p>(No Evaluation Metrics)</p>
        <button>Add Metric</button>
    </div>
</body>

</html>