<!--
  Author:    Jonathan Beutler
  Partner:   None
  Date:      September 4, 2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jonathan Beutler - This work may not be copied for use in Academic Coursework.

  I, Jonathan Beutler, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This is a blank homepage for the entire project.  More to come in following PS assignments.
-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Learning Outcomes Tracker</h1>
    <h2>School of Computing</h2>
</div>
<h2>Testing Links:</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Admin</h3>
        <p><a asp-controller="AdminCourse" asp-action="Index">View/Update Courses</a></p>
        <p><a asp-controller="AdminLearningOutcome" asp-action="Index">View/Update Learning Outcomes</a></p>
        <p><a>View/Update User Permissions</a></p>
    </div>
    <div class="col-md-4">
        <h3>Instructors</h3>
        <p><a asp-controller="InstructorCourse" asp-action="Index">See My Courses</a></p>
        <p><a asp-controller="InstructorCourse" asp-action="Details" asp-route-dept="School of Computing" asp-route-courseNumber="4540" asp-route-semester="Spring" asp-route-year="2020">Professor Jim's 4540 Course</a></p>
    </div>
    <div class="col-md-4">
        <h3>Department Chair</h3>
        <p><a asp-controller="ChairCourse" asp-action="Index">Overview of Program</a></p>
    </div>
</div>