<!--
  Author:    Jonathan Beutler
  Partner:   None
  Date:      September 4, 2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jonathan Beutler - This work may not be copied for use in Academic Coursework.

  I, Jonathan Beutler, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This was a drawing board for testing out new Bootstrap components before actually implementing them on my html pages.
-->

@{
    ViewData["Title"] = "LayoutExperiments";
}

<div class="card" style="width: 18rem;">
    <img src="~/images/BlockU_400px.png" class="card-img-top" alt="Couldn't find image">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
