<!--
  Author:    Jonathan Beutler
  Partner:   None
  Date:      September 4, 2019
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Jonathan Beutler - This work may not be copied for use in Academic Coursework.

  I, Jonathan Beutler, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This is a web page that acts as a placeholder for all unimplemented pages.  The page contains a brief
     explanation that it is not yet unimplemented.
-->

@{
    ViewData["Title"] = "UnimplementedPage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unimplemented Page</title>
    <meta name="author" content="Jonathan Beutler" />
    <meta name="description" content="This is a web page that acts as a placeholder for all unimplemented pages.  The page contains a brief
     explanation that it is not yet unimplemented." />
    <meta name="charset" content="UTF-8" />
    <meta name="keywords" content="None" />
    <link rel="stylesheet" type="text/css" href="~/css/Learning_Outcomes.css" />
</head>
<body>
    <h2>Unimplemented Page</h2>
    <p>This page has not yet been implemented.  Sorry!</p>
</body>

</html>


